@import "fuentes";
@import "generales";

/* mobile first*/





header{
    padding: 50px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.barraNav{
    padding: 50px;
    
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: column;

}

nav ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.video1{
    width: 300px;
    height: 200px;
}

.productos{
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: -30px;
}

main{
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 180px;
    display: flex;
    flex-wrap: column;
    justify-content: center;
}

/*declaro áreas de la grilla*/

header{
    grid-area: header;
}

.logoJef{
    grid-area: logoJef;
}

.barraNav{
    grid-area: barraNav;
}

footer{
    grid-area: footer;
}

.pieDePagina{
    grid-area: pieDePagina;
}

.redes{
    grid-area: redes;
}

.novedades{
    grid-area: novedades;
}

main{
    grid-area: main;
}

.tituloInicio{
    grid-area: tituloInicio;
}

.p1{
    grid-area: p1;
}


.ad{
    grid-area: ad;
}

.imgProductos-1{
    grid-area: img1;
  
}

.imgProductos-2{
    grid-area: img2;
}

.imgProductos-3{
    grid-area: img3;
}

.envolturaIndex{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 50px; 
    grid-template-areas: 
   
    "header"
    "logoJef"
    "barraNav"
 

}

.envolturaIndex-main{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 

    "tituloInicio"
    "p1"

}


.padre{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.img_redes{
    width: 48px;
    height: 48px;
    align-self: flex-end;

}

.img_redes:hover{
    transition-property: all;
    transition-duration: 4s;
}


footer{
    display: flex;
    padding: 1em;
    background-color: red;
    margin-bottom: 0;
    margin-top: 1.5em;
    text-align: center;
    align-items: center;

    

}



.flex__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 6px;
    grid-template-areas: 
    "img1"
    "img2"
    "img3"
    ;
     
}

@media(min-width:576px){
    .envolturaIndex{
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 50px; 
        grid-template-areas: 
       
        "header"
        "logoJef"
        "barraNav"
     
    
    }
    
    .envolturaIndex-main{
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
    
        "tituloInicio"
        "p1"
    
    }

    .flex__container{
        margin: 0px;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 15px;
        
        grid-template-areas: 
        "header"
        "logoJef"
        "navegador"
        "tituloInicio"

        "img1"
        "img2" 
        "img3"
        "footer"

        ;
    }
    footer{
        margin-top: 0;
    }

    
}

@media(min-width:768px){
    .envolturaIndex{
        display: grid; 
        grid-template-columns: 1fr 4fr; 
        grid-template-rows: 1fr; 
        gap: 50px; 
        grid-template-areas: 
       
        "header header"
        "logoJef logoJef"
        "barraNav barraNav"
     
    
    }
    
    .envolturaIndex-main{
        display: grid; 
        grid-template-columns: 1.5fr 0.5fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
    
        "tituloInicio ad"
        "p1 ad"
    
    }

    nav ul{
        text-align: center;

    }
    li{
        display: inline-block;
    }

    header{
        background: white;
    }

    .flex__container{
        margin: 0px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 15px;
        
        grid-template-areas: 
       

        "img1 img2 img3"
    
        

        ;
    }

    footer{
        display: flex;
        flex-direction: row;
        align-items:flex-end
        
    }




}

@media(min-width:992px){

}